<div style="background-color: #002f72;  min-height: 600px; width: 100%; padding: 15px; position: relative;">
    <!-- TITLE BAR -->
    <div class="d-flex justify-content-between align-items-center"
         style="border-bottom: 1px solid #0376f9; padding: 15px; display: flex; justify-content: space-between; align-items: center;">
        <img src="icon.png" width="64" height="64" style="width: 64px; height: 64px;"/>
        <div>
            <div
                    style="color: #7C7BAD; font-size: 14px; font-family: 'Montserrat', sans-serif; font-weight: bold; background-color: white; display: inline-block; padding: 3px 10px; border-radius: 50px;"
                    class="mr-2">
                <i class="fa fa-check mr-1"></i>Community
            </div>
            <div
                    style="color: #875A7B; font-size: 14px; font-family: 'Montserrat', sans-serif; font-weight: bold; background-color: white; display: inline-block; padding: 3px 10px; border-radius: 50px;"
                    class="mr-2">
                <i class="fa fa-check mr-1"></i>Enterprise
            </div>

        </div>
    </div>
    <!-- END OF TITLE BAR -->

    <!-- APP HERO -->

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <!-- APP HERO -->
                <h1 style="color: #FFFFFF; font-weight: bolder; font-size: 50px; text-align: center; margin-top: 50px;">
                    Database Rebuild</h1>
                <p style="color:#FFFFFF; padding: 8px 15px; text-align: center; font-size: 24px;">Update your addons with the global password</p>
                <!-- END OF APP HERO -->
                <div style="text-align: center;">
                    <img src="icon.png" class="img-responsive"
                    style="height: 100%; margin-left: auto; margin-right: auto"/>
               </div>
            </div>
        </div>
    </div>


</div>

<!-- NAVIGATION SECTION -->
<div class="d-flex align-items-center" style="border-bottom: 2px solid #0376f9; padding: 15px 0px; margin-top: 30px;">
    <div class="d-flex justify-content-center align-items-center mr-2"
         style="background-color: #F5F5F5; border-radius: 0px; width: 40px; height: 40px;">
        <img src="assets/misc/compass.png"/>
    </div>
    <h2 class="mt-2" style="font-family: 'Montserrat', sans-serif; font-size: 24px; font-weight: bold;">Explore This
        Module</h2>
</div>
<div class="row my-4" style="font-family: 'Montserrat', sans-serif;">
    <div class="col-sm-12 col-md-6 my-3">
        <a href="#overview">
            <div class="d-flex justify-content-between align-items-center"
                 style="background-color: #f5f5f5; padding: 30px; width: 100%;">
                <div>
                    <span style="color: #0376f9; font-size: 24px; font-weight: 500; display: block;">Overview</span>
                    <span style="color: #0376f9; font-size: 16px; font-weight: 400; color:#282F33;  display: block;">Learn
            more about this
            module</span>
                </div>
                <img src="assets/misc/right-arrow.png" width="36" height="36"/>
            </div>
        </a>
    </div>
    <div class="col-sm-12 col-md-6 my-3">
        <a href="#features">
            <div class="d-flex justify-content-between align-items-center"
                 style="background-color: #f5f5f5; padding: 30px; width: 100%;">
                <div>
                    <span style="color: #0376f9; font-size: 24px; font-weight: 500; display: block;">Features</span>
                    <span style="color: #0376f9; font-size: 16px; font-weight: 400; color:#282F33;  display: block;">View
            features of this
            module</span>
                </div>
                <img src="assets/misc/right-arrow.png" width="36" height="36"/>
            </div>
        </a>
    </div>
    <div class="col-sm-12 col-md-6 my-3">
        <a href="#screenshots">
            <div class="d-flex justify-content-between align-items-center"
                 style="background-color: #f5f5f5; padding: 30px; width: 100%;">
                <div>
                    <span style="color: #0376f9; font-size: 24px; font-weight: 500; display: block;">Screenshots</span>
                    <span style="color: #0376f9; font-size: 16px; font-weight: 400; color:#282F33;  display: block;">View
            screenshots for this
            module</span>
                </div>
                <img src="assets/misc/right-arrow.png" width="36" height="36"/>
            </div>
        </a>
    </div>
</div>
<!-- END OF NAVIGATION SECTION -->

<!-- OVERVIEW SECTION -->
<div class="d-flex align-items-center" style="border-bottom: 2px solid #0376f9; padding: 15px 0px;" id="overview">
    <div class="d-flex justify-content-center align-items-center mr-2"
         style="background-color: #F5F5F5; border-radius: 0px; width: 40px; height: 40px;">
        <img src="assets/misc/pie-chart.png"/>
    </div>
    <h2 class="mt-2" style="font-family: 'Montserrat', sans-serif; font-size: 24px; font-weight: bold;">Overview
    </h2>
</div>
<div class="row" style="font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 14px; line-height: 200%;">
    <div class="col-sm-12 py-4">
        This module allow to update modules without logging to the database and only using the global password in the configuration file odoo.conf.
        <br/>
        Sometimes, you need to update the modules and can not log to a database, either because you don't have a password for the admin account, 
        or because an update that is not correct prevent to logging to the database. 
        In such a situation, you can use this addon to be able to update the addons in a way similar to the database manager process.
    </div>
    <br/>
</div>
<!-- END OF OVERVIEW SECTION -->

<!-- FEATURES SECTION -->
<div class="d-flex align-items-center" style="border-bottom: 2px solid #0376f9; padding: 15px 0px;" id="features">
    <div class="d-flex justify-content-center align-items-center mr-2"
         style="background-color: #F5F5F5; border-radius: 0px; width: 40px; height: 40px;">
        <img src="assets/misc/features.png"/>
    </div>
    <h2 class="mt-2" style="font-family: 'Montserrat', sans-serif; font-size: 24px; font-weight: bold;">Features
    </h2>
</div>
<div class="row" style="font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 14px; line-height: 200%;">
    <div class="col-sm-12 col-md-6">
        <div class="d-flex align-items-center" style="margin-top: 40px; margin-bottom: 40px">
            <img src="assets/misc/check-box.png" class="mr-2"/>
            <span style="font-family: 'Montserrat', sans-serif; font-size: 18px; font-weight: bold;">Update a Database without logging</span>
        </div>

        <div class="d-flex align-items-center" style="margin-top: 30px; margin-bottom: 30px">
            <img src="assets/misc/check-box.png" class="mr-2"/>
            <span style="font-family: 'Montserrat', sans-serif; font-size: 18px; font-weight: bold;">Update more quickly all the databases that you manage</span>
        </div>

        <div class="d-flex align-items-center" style="margin-top: 30px; margin-bottom: 30px">
            <img src="assets/misc/check-box.png" class="mr-2"/>
            <span style="font-family: 'Montserrat', sans-serif; font-size: 18px; font-weight: bold;">Rebuild assets for your database</span>
        </div>

    </div>
    <div class="col-sm-12 col-md-6">
    </div>
</div>
<!-- END OF FEATURES SECTION -->

<!-- SCREENSHOTS SECTION -->
<div class="d-flex align-items-center" style="border-bottom: 2px solid #0376f9; padding: 15px 0px;" id="screenshots">
    <div class="d-flex justify-content-center align-items-center mr-2"
         style="background-color: #F5F5F5; border-radius: 0px; width: 40px; height: 40px;">
        <img src="assets/misc/pictures.png"/>
    </div>
    <h2 class="mt-2" style="font-family: 'Montserrat', sans-serif; font-size: 24px; font-weight: bold;">Screenshots
    </h2>
</div>
<div class="row">
    <div class="col-sm-12">

        <div style="display: block; margin: 30px auto;">
            <h3 style="font-family: 'Montserrat', sans-serif; font-size: 18px; font-weight: bold;">Select Database Rebuild</h3>
            <p>Connext to the management of your Databases, and select to access to the Database Rebuild menu
            </p>
            <img src="assets/screenshots/database_rebuild-1.png" class="img-thumbnail">
        </div>

        <div style="display: block; margin: 30px auto;">
            <h3 style="font-family: 'Montserrat', sans-serif; font-size: 18px; font-weight: bold;">Enter the global password</h3>
            <p>The update is protected by the same password as the one used for the database management, allowing to create, delete or export a database.</p>
            <img src="assets/screenshots/database_rebuild-2.png" class="img-thumbnail">
        </div>

        <div style="display: block; margin: 30px auto;">
            <h3 style="font-family: 'Montserrat', sans-serif; font-size: 18px; font-weight: bold;">Return to Database Management</h3>
            <p> Il needed, you can return to the Database management or just click on the database and loging</p>
            <img src="assets/screenshots/database_rebuild-3.png" class="img-thumbnail">
        </div>

    </div>
</div>
<!-- END OF SCREENSHOTS SECTION -->
