<div style="background-color: #002f72;  min-height: 600px; width: 100%; padding: 15px; position: relative;">
    <!-- TITLE BAR -->
    <div class="d-flex justify-content-between align-items-center"
         style="border-bottom: 1px solid #0376f9; padding: 15px; display: flex; justify-content: space-between; align-items: center;">
        <img src="icon.png" width="64" height="64" style="width: 64px; height: 64px;"/>
        <div>
            <div
                    style="color: #7C7BAD; font-size: 14px; font-family: 'Montserrat', sans-serif; font-weight: bold; background-color: white; display: inline-block; padding: 3px 10px; border-radius: 50px;"
                    class="mr-2">
                <i class="fa fa-check mr-1"></i>Community
            </div>
            <div
                    style="color: #875A7B; font-size: 14px; font-family: 'Montserrat', sans-serif; font-weight: bold; background-color: white; display: inline-block; padding: 3px 10px; border-radius: 50px;"
                    class="mr-2">
                <i class="fa fa-check mr-1"></i>Enterprise
            </div>

        </div>
    </div>
    <!-- END OF TITLE BAR -->

    <!-- APP HERO -->

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <!-- APP HERO -->
                <h1 style="color: #FFFFFF; font-weight: bolder; font-size: 50px; text-align: center; margin-top: 50px;">
                    Attachment Zip and Pdf Download</h1>
                <p style="color:#FFFFFF; padding: 8px 15px; text-align: center; font-size: 24px;">Collect several attachments in a Zip or a Pdf</p>
                <!-- END OF APP HERO -->
                <div style="text-align: center;">
                    <img src="icon.png" class="img-responsive"
                    style="height: 100%; margin-left: auto; margin-right: auto"/>
               </div>
            </div>
        </div>
    </div>


</div>

<!-- NAVIGATION SECTION -->
<div class="d-flex align-items-center" style="border-bottom: 2px solid #0376f9; padding: 15px 0px; margin-top: 30px;">
    <div class="d-flex justify-content-center align-items-center mr-2"
         style="background-color: #F5F5F5; border-radius: 0px; width: 40px; height: 40px;">
        <img src="assets/misc/compass.png"/>
    </div>
    <h2 class="mt-2" style="font-family: 'Montserrat', sans-serif; font-size: 24px; font-weight: bold;">Explore This
        Module</h2>
</div>
<div class="row my-4" style="font-family: 'Montserrat', sans-serif;">
    <div class="col-sm-12 col-md-6 my-3">
        <a href="#overview">
            <div class="d-flex justify-content-between align-items-center"
                 style="background-color: #f5f5f5; padding: 30px; width: 100%;">
                <div>
                    <span style="color: #0376f9; font-size: 24px; font-weight: 500; display: block;">Overview</span>
                    <span style="color: #0376f9; font-size: 16px; font-weight: 400; color:#282F33;  display: block;">Learn
            more about this
            module</span>
                </div>
                <img src="assets/misc/right-arrow.png" width="36" height="36"/>
            </div>
        </a>
    </div>
    <div class="col-sm-12 col-md-6 my-3">
        <a href="#features">
            <div class="d-flex justify-content-between align-items-center"
                 style="background-color: #f5f5f5; padding: 30px; width: 100%;">
                <div>
                    <span style="color: #0376f9; font-size: 24px; font-weight: 500; display: block;">Features</span>
                    <span style="color: #0376f9; font-size: 16px; font-weight: 400; color:#282F33;  display: block;">View
            features of this
            module</span>
                </div>
                <img src="assets/misc/right-arrow.png" width="36" height="36"/>
            </div>
        </a>
    </div>
    <div class="col-sm-12 col-md-6 my-3">
        <a href="#screenshots">
            <div class="d-flex justify-content-between align-items-center"
                 style="background-color: #f5f5f5; padding: 30px; width: 100%;">
                <div>
                    <span style="color: #0376f9; font-size: 24px; font-weight: 500; display: block;">Screenshots</span>
                    <span style="color: #0376f9; font-size: 16px; font-weight: 400; color:#282F33;  display: block;">View
            screenshots for this
            module</span>
                </div>
                <img src="assets/misc/right-arrow.png" width="36" height="36"/>
            </div>
        </a>
    </div>
</div>
<!-- END OF NAVIGATION SECTION -->

<!-- OVERVIEW SECTION -->
<div class="d-flex align-items-center" style="border-bottom: 2px solid #0376f9; padding: 15px 0px;" id="overview">
    <div class="d-flex justify-content-center align-items-center mr-2"
         style="background-color: #F5F5F5; border-radius: 0px; width: 40px; height: 40px;">
        <img src="assets/misc/pie-chart.png"/>
    </div>
    <h2 class="mt-2" style="font-family: 'Montserrat', sans-serif; font-size: 24px; font-weight: bold;">Overview
    </h2>
</div>
<div class="row" style="font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 14px; line-height: 200%;">
    <div class="col-sm-12 py-4">
        This module allow to download a collection of documents in a zip or in a Pdf.
        <br/>
        Sometimes, you need to have a simple way to get all your attachements in a single Zip or in a single Pdf.
        This module will help you to consolidate all the documents in a single Zip or Pdf. Just select the documents you want and launch the action.
        For example, after having associated all your receipts you could very easily export a single Pdf containing all the images you just added.
        <br/>
        <b>This module need a python librairy.</b>
        <br/>
        There is a limit of the size produced for the Zip or the Pdf according to the possibility offered by your provider.
    </div>
    <br/>
</div>
<!-- END OF OVERVIEW SECTION -->

<!-- FEATURES SECTION -->
<div class="d-flex align-items-center" style="border-bottom: 2px solid #0376f9; padding: 15px 0px;" id="features">
    <div class="d-flex justify-content-center align-items-center mr-2"
         style="background-color: #F5F5F5; border-radius: 0px; width: 40px; height: 40px;">
        <img src="assets/misc/features.png"/>
    </div>
    <h2 class="mt-2" style="font-family: 'Montserrat', sans-serif; font-size: 24px; font-weight: bold;">Features
    </h2>
</div>
<div class="row" style="font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 14px; line-height: 200%;">
    <div class="col-sm-12 col-md-6">
        <div class="d-flex align-items-center" style="margin-top: 40px; margin-bottom: 40px">
            <img src="assets/misc/check-box.png" class="mr-2"/>
            <span style="font-family: 'Montserrat', sans-serif; font-size: 18px; font-weight: bold;">Build easily a Zip of your documents</span>
        </div>

        <div class="d-flex align-items-center" style="margin-top: 30px; margin-bottom: 30px">
            <img src="assets/misc/check-box.png" class="mr-2"/>
            <span style="font-family: 'Montserrat', sans-serif; font-size: 18px; font-weight: bold;">Build a consolidated Pdf from the images or Pdf</span>
        </div>

        <div class="d-flex align-items-center" style="margin-top: 30px; margin-bottom: 30px">
            <img src="assets/misc/check-box.png" class="mr-2"/>
            <span style="font-family: 'Montserrat', sans-serif; font-size: 18px; font-weight: bold;">Export all important data in a single archive or Pdf</span>
        </div>

    </div>
    <div class="col-sm-12 col-md-6">
    </div>
</div>
<!-- END OF FEATURES SECTION -->

<!-- SCREENSHOTS SECTION -->
<div class="d-flex align-items-center" style="border-bottom: 2px solid #0376f9; padding: 15px 0px;" id="screenshots">
    <div class="d-flex justify-content-center align-items-center mr-2"
         style="background-color: #F5F5F5; border-radius: 0px; width: 40px; height: 40px;">
        <img src="assets/misc/pictures.png"/>
    </div>
    <h2 class="mt-2" style="font-family: 'Montserrat', sans-serif; font-size: 24px; font-weight: bold;">Screenshots
    </h2>
</div>
<div class="row">
    <div class="col-sm-12">

        <div style="display: block; margin: 30px auto;">
            <h3 style="font-family: 'Montserrat', sans-serif; font-size: 18px; font-weight: bold;">Select attachments</h3>
            <p>From a filter or directly from a list of attachments (for example linked to an expense), point the attachments you want to add to a Zip file or to a Pdf.
            </p>
            <img src="assets/screenshots/zip_pdf_download-1.png" class="img-thumbnail">
        </div>

        <div style="display: block; margin: 30px auto;">
            <h3 style="font-family: 'Montserrat', sans-serif; font-size: 18px; font-weight: bold;">Export to Zip</h3>
            <p>Just select the export action to make an archive</p>
            <img src="assets/screenshots/zip_pdf_download-2.png" class="img-thumbnail">
        </div>

        <div style="display: block; margin: 30px auto;">
            <h3 style="font-family: 'Montserrat', sans-serif; font-size: 18px; font-weight: bold;">Export to Pdf</h3>
            <p>All images and Pdf will be consolidated into a single Pdf.</p>
            <img src="assets/screenshots/zip_pdf_download-3.png" class="img-thumbnail">
        </div>

    </div>
</div>
<!-- END OF SCREENSHOTS SECTION -->
